.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(25% - 20px);
  height: 300px;
  background-color: tomato;
  border-radius: 12px;
  margin: 10px;
}
.item .title {
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
}
.item .image {
  height: 200px;
  object-fit: cover;
}
.item .content {
  padding: 10px;
  height: 200px;
}
.item .title,
.item .content {
  text-overflow: ellipsis;
  overflow: hidden;
}
.item .created-at {
  padding: 10px;
}
